body {
    font-family: sans-serif;
    background-color: #e3e2e2;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

h1 {
    font-family: 'Rubik Burned', sans-serif;
    margin-bottom: 20px;
}

.bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cookie_container {
    display: flex;
    padding: 20px;
    background: none;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
}

.cookieButton {
    border: none;
    background: none;
}

.cookieButton:hover img {
    filter: drop-shadow(0 0 15px rgba(255, 165, 0, 0.8));
}

.upgradeButton {
    background-color: #0299D8;
    width: 100%;
    border-radius: 20px;
}

.upgradeButton:hover {
    background-color: #F8991C;
}

.button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.monster {
    display: flex;
    width: 300px;
    height: auto;
    margin: 40px;
}

.monster:hover {
    filter: drop-shadow(0 0 15px rgba(2, 153, 216, 0.8));
}

.monster-container {
    position: relative;
}

.monsterButton {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border: none;
    background: none;
}

span {
    font-weight: bold;
    color: #0299D8;
}

footer {
    font-family: 'Courier New';
    font-size: 14px;
    margin-top: 20px;
}

.eventMessage {
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    color: white;
    visibility: hidden;
}